{% extends 'layouts/base.html' %} 
{% load static %}

{% block head %}
    <title>King Courier | Sucursales</title>
    <link href="{% static 'styles/TableStyle.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'scripts/SearchTable.js' %}"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock head %}

{% block header %}
    {% include 'layouts/navbar.html' %}
{% endblock header %}

{% block content %}
<h1 class="text-center">Sucursales</h1>
  {% if message %}
    <div class="alert alert-info" role="alert">
      {{message}}
    </div>
  {% endif %}


  <div class="search-container d-flex justify-content-between align-items-center mb-3">
    <div class="mr-4 ml-4 btnCreate">
      <a class="btn btn-success w-150" href="{% url 'create_sucursal' %}" role="button">Crear Sucursal</a>
    </div>
    <div class="mr-4 search">
      <input type="text" class="form-control w-300" id="search-input" placeholder="Buscar...">
    </div>
  </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <caption>Listado de Sucursales</caption>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Ciudad</th>
              <th>Telefono</th>
              <th>Cliente</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for sucursal in sucursales %}
            <tr>
              <td><a href="{% url 'detalle_sucursal' sucursal.id %}">{{ sucursal.nombre }}</a></td>
              <td>{{sucursal.direccion}}</td>
              <td>{{sucursal.ciudad}}</td>
              <td>{{sucursal.telefono}}</td>
              <td>{{sucursal.cliente}}</td>
              <td> 
                <a class="btn btn-info" href="{% url 'editar_sucursal' sucursal.id %}" role="button">Editar</a>             
                {% comment %} <a class="btn btn-danger" href="{% url 'eliminar_sucursal' sucursal.id %}" role="button" onclick="return confirm('¿Estás Seguro de Borrar esta Sucursal?')">Borrar</a> {% endcomment %}
                <button class="btn btn-danger" data-toggle="modal" data-target="#confirmModal{{ sucursal.id }}">Borrar</button>
              </td>
            </tr>

            <div class="modal fade" id="confirmModal{{ sucursal.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">
                      <i class='bx bx-message-rounded-error bx-tada bx-lg' style='color:#DC3545'  ></i>
  
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ¿Estás Seguro de Borrar esta Sucursal?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="{% url 'eliminar_sucursal' sucursal.id %}">Borrar</a>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

 
{% endblock content %}
