{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
    <title>King Courier | Clientes</title>
    <link href="{% static 'styles/TableStyle.css' %}" rel="stylesheet" />
{% endblock head %}

{% block header %}
    {% include 'layouts/navbar.html' %}
{% endblock header %}

{% block content %}
<h1 class="text-center">Clientes</h1>
  {% if message %}
    <div class="alert alert-info" role="alert">
      {{message}}
    </div>
  {% endif %}

    <div class="ml-3">
      <a class="btn btn-success" href="{% url 'create_cliente' %}" role="button">Crear Cliente</a>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>NIT</th>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Ciudad</th>
              <th>Email</th>
              <th>Telefono</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for cliente in clientes %}
            <tr>
              <td>{{cliente.identificacion}}</td>
              <td><a href="{% url 'detalle_cliente' cliente.id %}">{{ cliente.nombre }}</a></td>
              <td>{{cliente.direccion}}</td>
              <td>{{cliente.ciudad}}</td>
              <td>{{cliente.email}}</td>
              <td>{{cliente.telefono}}</td>
              <td> 
                <a class="btn btn-info" href="{% url 'editar_cliente' cliente.id %}" role="button">Editar</a>             
                <a class="btn btn-danger" href="{% url 'eliminar_cliente' cliente.id %}" role="button">Borrar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    
{% endblock content %}
