{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
    <title>King Courier | Mensajeros</title>
    <link href="{% static 'styles/TableStyle.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'scripts/SearchTable.js' %}"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock head %}

{% block header %}
    {% include 'layouts/navbar.html' %}
{% endblock header %}

{% block content %}
  <h1 class="text-center">Mensajeros</h1>
    {% if message %}
      <div class="alert alert-info" role="alert">
        {{message}}
      </div>
    {% endif %}
    
    <div class="search-container d-flex justify-content-between align-items-center mb-3">
      <div class="mr-4 ml-4 btnCreate">
        <a class="btn btn-success w-150" href="{% url 'create_mensajeros' %}" role="button">Crear Mensajero</a>
      </div>
      <div class="mr-4 search">
        <input type="text" class="form-control w-300" id="search-input" placeholder="Buscar...">
      </div>
    </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <caption>Listado de Mensajeros</caption>
            <thead>
              <tr>
                <th>Identificacion</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Ciudad</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Vehiculo</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for mensajero in mensajeros %}
                <tr>
                  <td>{{mensajero.identificacion}}</td>
                  <td><a href="{% url 'detalle_mensajero' mensajero.id %}">{{ mensajero.nombre }}</a></td>
                  <td>{{mensajero.direccion}}</td>
                  <td>{{mensajero.ciudad}}</td>
                  <td>{{mensajero.email}}</td>
                  <td>{{mensajero.telefono}}</td>
                  <td>{{mensajero.vehiculo}}</td>
                  <td> 
                    <a class="btn btn-info" href="{% url 'editar_mensajero' mensajero.id %}" role="button">Editar</a>             
                    {% comment %} <a class="btn btn-danger" href="{% url 'eliminar_mensajero' mensajero.id %}" role="button" onclick="return confirm('¿Estás Seguro de Borrar este Mensajero?')">Borrar</a> {% endcomment %}
                    <button class="btn btn-danger" data-toggle="modal" data-target="#confirmModal{{ mensajero.id }}">Borrar</button>
                  </td>
                </tr>

                <div class="modal fade" id="confirmModal{{ mensajero.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">
                          <i class='bx bx-message-rounded-error bx-tada bx-lg' style='color:#DC3545'  ></i>
      
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ¿Estás Seguro de Borrar este Mensajero?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a class="btn btn-danger" href="{% url 'eliminar_mensajero' mensajero.id %}">Borrar</a>
                      </div>
                    </div>
                  </div>
                </div>



              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    

{% endblock content %}
