{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
    <title>King Courier | Mensajeros</title>
    <link href="{% static 'styles/TableStyle.css' %}" rel="stylesheet" />
{% endblock head %}

{% block header %}
    {% include 'layouts/navbar.html' %}
{% endblock header %}

{% block content %}
  <h1 class="text-center">Mensajeros</h1>
    {% if message %}
      <div class="alert alert-info" role="alert">
        {{message}}
      </div>
    {% endif %}
    
      <div class="ml-3">
        <a class="btn btn-success" href="#" role="button">Crear Mensajero</a>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Identificacion</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Ciudad</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Vehiculo</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for mensajero in mensajeros %}
                <tr>
                  <td>{{mensajero.identificacion}}</td>
                  <td><a href="#">{{ mensajero.nombre }}</a></td>
                  <td>{{mensajero.direccion}}</td>
                  <td>{{mensajero.ciudad}}</td>
                  <td>{{mensajero.email}}</td>
                  <td>{{mensajero.telefono}}</td>
                  <td>{{mensajero.vehiculo}}</td>
                  <td> 
                    <a class="btn btn-info" href="#" role="button">Editar</a>             
                    <a class="btn btn-danger" href="#" role="button">Borrar</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

{% endblock content %}
